body {
    color: white;
    text-align: center;
    padding-top: 4.5vmax;
    background-image: url("../src/bg.jpg");
    background-size: cover;
}

/* Nav Bar */


nav {
    top: 0;
    left: 0;
    display: block;
    position: fixed;
    width: 100%;
    font-size: 4vh;
    margin: 0;
    background-color: rgba(68, 39, 10, 0.88);
    z-index: 2;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    float: left;
}

ul a {
    vertical-align: top;
    background-color: rgba(99, 32, 32, 0.6);
}

ul img {
    height: 3.5vh;
    width: 4vh;
}

li {
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(130, 98, 92, 0.8);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

ul:hover .dropdown-content {
    mix-blend-mode: difference;
    display: block;
}

.dropdown-content a:hover {
    mix-blend-mode: difference;
    background-color: red;    
}

.userlog {
    margin: 0;
    font-size: 0.5em;
    vertical-align: top;
    display: inline-block;
    float: right;
}

/* Container */

.main-container {
    margin: 3vmax auto;
    padding: 1.2em;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
}

.title {
    margin-bottom: 1em;
    font-size: 1.3em;

}

.pre-input {
    text-align: right;
}

form {
    width: 50vmax;
    display: inline-block;
}

input[type="text"], input[type="password"], input[type="number"], input[list], select {
    font-size: 0.5em;
    height: 2em;
    text-align: left;
}

input[type="submit"], form a, .returnlink {
    margin-top: 1em;
    background-color: rgba(187, 71, 71, 0.8);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

table {
    margin: 1em auto;
}
