.catalog {
    margin: auto;
    margin-bottom: 2em;
    /*padding-top: 0.5em;*/
    position: relative;
    width: 50vmax;
}
.title {
    font-size: 1.7em;
}
table {
    width: 80%;
    /*text-align: center;*/
    padding: 0.4em;
    display: table;
    background-color: rgba(183, 69, 69, 0.85);
}
.table-title td{
    text-align: center;
}
td {
    /*min-width: 50%;*/
    /*display: inline-block;*/
    /*display: table-cell;*/
    /*margin: auto;*/
    /*border: 1px solid black ;*/
    text-align: right;
    margin: 0.3em;
    /*float: left;*/
}
td input {
    float: left;
    text-align: right;
}