body {
    color: white;
    text-align: center;
    background-image: url("sammich.jpg");
    background-size: cover;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: #ffcf60;
}

ul {
    flex: 1 1 auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.category {
    padding: 14px 16px;
    mix-blend-mode: difference;
}

.menu {
    font-size: 4.5vh;
    padding: 14px 16px 0;
    float: left;
}

.dropdown {
    font-size: 3.5vh;
    float: left;
    cursor: pointer;
}

.dropdown:hover {
    mix-blend-mode: hard-light;    
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.item {
    padding: 12px 16px;
    display: block;
    text-align: left;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.bread {
    background-color: #ffe6aa;
}

.bread .item {
    background-color: #d3bb81;
}

.meat {
    background-color: #ff9797;
}

.meat .item {
    background-color: #e06464;
}

.greens {
    background-color: #96c93b;
}

.greens .item {
    background-color: #7aad1f;
}

.sauce {
    background-color: #fff4f4;
}

.sauce .item {
    background-color: #f9bdbd;
}

.item:hover {
    mix-blend-mode: multiply;
}